@media (min-width:769px){
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .foto{
        width: 20%;
    }
    .videos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .video{
        width: 30%;
        height: 40%;
        cursor: pointer;
        transition: .3s;
        border: 2px solid transparent;
    }
    .video:hover{
        border: 2px solid white;
        transform: translate(5px, -5px);
        transition: .3s;
    }
    
}